body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.poll-container {
    scroll-snap-align: start;
    height: 700px;
    box-sizing: border-box;

    max-height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center;

    padding: 16px;
    background-color: #f5f5f5; /* 연한 회색 배경 */
    border: 1px solid #ddd;     /* 1px짜리 회색 테두리 */
    border-radius: 8px;         /* 모서리를 8px만큼 둥글게 */
}

.scroll-list_wrp{
    width: 100%;
    height: 700px;
    overflow: auto;
    box-shadow: 0px 7px 46px 0px rgba(0, 0, 0, 0.3);
    background: #1c2e4a;
    border-radius: 8px;
    background-image: linear-gradient(147deg, #2e3a59 0%, #1a2b46 74%);
    scroll-snap-type: y mandatory;
}

.poll-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}

.poll-options button {
    flex: 0 0 150px;
    padding: 10px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    cursor: pointer;
    border-radius: 5px;
}